<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="myConnection" connectionString="server=localhost;database=cabs;uid=root;password=root;port=3306;Allow User Variables=True" />
    <add name="localhost_cabs_Connection" connectionString="XpoProvider=MySql; server=localhost;port=3306;uid=root;password=root ;database=cabs;Allow User Variables=True;persist security info=true;CharSet=utf8;" />
      </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.7.0" newVersion="7.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>